@import url('https://fonts.cdnfonts.com/css/pf-tempesta-seven');

:root {
  --black: #080808;
  --white: rgb(221, 221, 221);
  --gray: #181818;
}

* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-family: 'PF Tempesta Seven Condensed';
  font-weight: 400;

}

body {
  cursor: url(../assets/cursor/cursor.png), default;
  background-color: #010105;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: calc(1vw + 1.5vh + 2vmin);
  user-select: none;
  text-shadow: rgb(0, 0, 0) 2px 0px 0px, rgb(0, 0, 0) 1.75517px 0.958851px 0px, rgb(0, 0, 0) 1.0806px 1.68294px 0px, rgb(0, 0, 0) 0.141474px 1.99499px 0px, rgb(0, 0, 0) -0.832294px 1.81859px 0px, rgb(0, 0, 0) -1.60229px 1.19694px 0px, rgb(0, 0, 0) -1.97998px 0.28224px 0px, rgb(0, 0, 0) -1.87291px -0.701566px 0px, rgb(0, 0, 0) -1.30729px -1.5136px 0px, rgb(0, 0, 0) -0.421592px -1.95506px 0px, rgb(0, 0, 0) 0.567324px -1.91785px 0px, rgb(0, 0, 0) 1.41734px -1.41108px 0px, rgb(0, 0, 0) 1.92034px -0.558831px 0px;
}

button,
a {
  cursor: url(../assets/cursor/cursorPointer.png), default;
  text-decoration: none;
  color: var(--white);
  text-shadow: rgb(0, 0, 0) 2px 0px 0px, rgb(0, 0, 0) 1.75517px 0.958851px 0px, rgb(0, 0, 0) 1.0806px 1.68294px 0px, rgb(0, 0, 0) 0.141474px 1.99499px 0px, rgb(0, 0, 0) -0.832294px 1.81859px 0px, rgb(0, 0, 0) -1.60229px 1.19694px 0px, rgb(0, 0, 0) -1.97998px 0.28224px 0px, rgb(0, 0, 0) -1.87291px -0.701566px 0px, rgb(0, 0, 0) -1.30729px -1.5136px 0px, rgb(0, 0, 0) -0.421592px -1.95506px 0px, rgb(0, 0, 0) 0.567324px -1.91785px 0px, rgb(0, 0, 0) 1.41734px -1.41108px 0px, rgb(0, 0, 0) 1.92034px -0.558831px 0px;
  user-select: none;
}

img {
  image-rendering: pixelated;
  user-select: none;
}

.pointer {
  cursor: url(../assets/cursor/cursorPointer.png), default;
}

.señal {
  position: absolute;
}

.app_overflow {
  overflow: hidden;
}


/* Firefox */
* {
  scrollbar-width: thin;
  scrollbar-color: var(--gray) #0d1f30;
}

/* Chrome, Edge, and Safari */
*::-webkit-scrollbar {
  width: 10px;
}

*::-webkit-scrollbar-track {
  background-color: var(--gray);
}

*::-webkit-scrollbar-thumb {
  background-color: var(--black);
  border: 2px solid var(--white);
}

/* @media all and (max-width: 768px) {

  .señal {
    position: absolute;
  }
} */
.CAJA{
  width: 100px;
  height: 100px;
  background: white;
  position: absolute;
  top: 0;
}