.home {
    display: flex;
    justify-content: center;
    height: 60vh;
    z-index: 10;
}

.galaxy_container {
    position: relative;
    object-fit: cover;
    top: 5vh;
    width: 60vw;
    height: 150vh;
}

.galaxy {
    position: absolute;
    height: 100%;
    width: 100%;
    left: 0;
    right: 0;
    z-index: 10;
}

.galaxyAnimationT {
    animation: motionT 3s linear infinite;
    z-index: 20;
}

.galaxyAnimationB {
    animation: motionB 3s linear infinite;
    z-index: 20;
}

.galaxy_grid{
    display: grid;
    position: absolute;
    width: 60vw;
    height: 150vh;
    margin: 5vh;
    grid-template-columns: repeat(10, 6vw);
    grid-template-rows: repeat(30, 5vh);
    grid-column-gap: 0px;
    grid-row-gap: 0px;
}

.home_link{
    display: flex;
    text-align: center;
    align-items: center;
    flex-direction: column;
    cursor: pointer;
    transition: all 0.5s ease;
    background: transparent;
    z-index: 99;
}

.home_link img:first-child {
    background: transparent;
    display: none;
}

.home_link:hover {
    transform: scale(1.5);
}

.home_linkhover img {
    display: none;
}

.home_link:hover img:first-child {
    display: flex;
}

.home_about{
    grid-area: 16 / 6 / 12 / 6;
}

.home_education{
    grid-area: 21 / 3 / 22 / 4;
}

.home_projects{
    grid-area: 7 / 6 / 8 / 7;
}
@keyframes motionT {
    0% {
        transform: translateX(0px);
    }

    10% {
        transform: translateX(1px);
    }

    20% {
        transform: translateX(2px);
    }

    30% {
        transform: translateX(3px);
    }

    40% {
        transform: translateX(4px);
    }

    50% {
        transform: translateX(5px);
    }

    60% {
        transform: translateX(4px);
    }

    70% {
        transform: translateX(3px);
    }

    80% {
        transform: translateX(2px);
    }

    90% {
        transform: translateX(1px);
    }

    100% {
        transform: translateX(0px);
    }
}

@keyframes motionB {
    0% {
        transform: translateX(0px);
    }

    10% {
        transform: translateX(-1px);
    }

    20% {
        transform: translateX(-2px);
    }

    30% {
        transform: translateX(-3px);
    }

    40% {
        transform: translateX(-4px);
    }

    50% {
        transform: translateX(-5px);
    }

    60% {
        transform: translateX(-4px);
    }

    70% {
        transform: translateX(-3px);
    }

    80% {
        transform: translateX(-2px);
    }

    90% {
        transform: translateX(-1px);
    }

    100% {
        transform: translateX(0px);
    }
}

@media all and (max-width: 768px) {

    .container_galaxy {
        width: 95vw;
    }

    .galaxy_grid {
        width: 95vw;
        grid-template-columns: repeat(10, 9.5vw);
    }

    
}