.nav {
    position: fixed;
    top: 0;
    padding: 10px;
    background: rgba(0, 0, 0, 0.397);
    color: var(--white);
    z-index: 100000;
    h3{
        font-size: 2.5rem;
        text-align: center;
    }
    a p{
        display: flex;
        text-align: center;
        justify-items: center;
        align-items: center;
        font-size: 1.5rem;
    }
}


.navLink{
    
    background-color: var(--gray);
    border: 1px solid var(--white);
    padding: 5px;
    margin-top: 3vh;
    border-radius: 10px;
}