.avatar_Container{
    position: fixed;
    text-align: center;
    bottom: 0vh;
    z-index: 100;
    color: white;
}
.avatar_Img{
    height: 100%;
    width: 30vw;
    border: 2px solid var(--black);
    z-index: 10;
    image-rendering: pixelated;
}

.avatar_left{
    left: 0px;
}
