.nav {
    position: fixed;
    top: 0;
    padding: 10px;
    background: rgba(0, 0, 0, 0.397);
    color: var(--white);
    z-index: 100000;
}

.nav h3{
    font-size: 2.5rem;
    text-align: center;
}

.nav a p{
    font-size: 1.5rem;
    text-align: center;
    margin-top: 3vh;
}