.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
.container_Galaxy{
    position: relative;
}
.container_View{
    position: relative;
    width: 100vw;
    z-index: 1;
}