.stars{
    position: absolute;
    overflow-y: hidden;
    object-fit: cover;
    height: auto;
    width: 100vw;
    top: 0;
    right: 0;
    z-index: 1;
}

@media all and (max-width: 768px) {
    .stars{
        height: 250vh;
    }
}